<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>matelight</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://temporaerhaus.de/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://temporaerhaus.de/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://temporaerhaus.de/favicon-16x16.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <h1>matelight</h1>
  <p>das <em>matelight</em> des <a href="https://temporaerhaus.de">temporärhaus</a> besteht aus Kästen von <a href="https://de.wikipedia.org/wiki/Club-Mate">Club-Mate</a>, einer in <a href="https://de.wikipedia.org/wiki/Hackerspace">Hack- und Makespaces</a> verbreitete <a href="https://de.wikipedia.org/wiki/Mate-Tee">Mate-Tee</a>-Limonade und darin verbauter LEDs, die über <a href="https://wled.me">WLED</a> angesteuert werden.</p>
  <form action="/random" method="post">
    <button type="submit">🎲&emsp;Anderer Effekt!&emsp;✨</button>
  </form>
  <footer>
    Made with ❤️🧡💛💚💙💜
  </footer>
</body>
</html>
